<template>

    <div id="wrapper" class="row wrapper">
        <div class="container-min-full-height d-flex justify-content-center align-items-center">
            <div class="login-center">
                <div class="navbar-header text-center mt-2 mb-4">
                    <a href="index.html">
                        <img alt="" src="assets/img/logo-light.png">
                    </a>
                </div>
                <!-- /.navbar-header -->
                <form @submit.prevent="submit">
                    <div class="form-group">
                        <!-- <label for="example-email">Email</label> -->
                        <input type="email" v-model="form.email" :errors="$page.errors.email" placeholder="johndoe@site.com" class="form-control form-control-line" name="example-email" id="example-email">
                    <!-- <text-input v-model="form.email" :errors="$page.errors.email" class="form-control form-control-line" label="Email" id="example-email" type="email" autofocus autocapitalize="off" /> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="example-password">Password</label> -->
                        <input type="password" v-model="form.password" placeholder="password" id="example-password" name="example-password" class="form-control form-control-line">
                    <!-- <text-input v-model="form.password" class="form-control form-control-line" label="Password" type="password" /> -->
                    </div>
                    <div class="form-group">
                        <!-- <button class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600" type="button">Login</button> -->
                              <loading-button :loading="sending" class="btn-indigo" type="submit">Login</loading-button>

                    </div>
                    <div class="form-group no-gutters mb-0">
                        <div class="col-md-12 d-flex">
                            <div class="checkbox checkbox-primary mr-auto mr-0-rtl ml-auto-rtl">
                                <label class="d-flex">
                                    <input type="checkbox"> <span class="label-text">Remember me</span>
                                </label>
                            </div><a href="#reset-password" id="to-recover" class="my-auto pb-2 text-right"><i class="material-icons mr-2 fs-18">lock</i> Forgot Password?</a>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.form-group -->
                </form>
                <!-- /.form-material -->
                <!-- <hr>
                <div class="row btn-list">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-facebook ripple" data-toggle="tooltip" data-placement="top" title="Login with Facebook"><i class="social-icons list-icon">facebook</i> facebook</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-googleplus ripple" data-toggle="tooltip" data-placement="top" title="Login with Google"><i class="social-icons list-icon">googleplus</i> google</button>
                    </div>
                </div> -->
                <!-- /.btn-list -->
                <!-- <footer class="col-sm-12 text-center">
                    <hr>
                    <p>Don't have an account? <a href="page-register.html" class="text-primary m-l-5"><b>Sign Up</b></a>
                    </p>
                </footer> -->
            </div>
            <!-- /.login-center -->
        </div>
        <!-- /.d-flex -->
    </div>
   
</template>

<script>
import LoadingButton from '@/Shared/LoadingButton'
import Logo from '@/Shared/Logo'
import TextInput from '@/Shared/TextInput'

export default {
  metaInfo: { title: 'Login' },
  components: {
    LoadingButton,
    Logo,
    TextInput,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      sending: false,
      form: {
        email: 'johndoe@example.com',
        password: 'secret',
        remember: null,
      },
    }
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia.post(this.route('login.attempt'), {
        email: this.form.email,
        password: this.form.password,
        remember: this.form.remember,
      }).then(() => this.sending = false)
    },
  },
}
</script>
